<div class="row">
	<h1>Edit Snippet</h1>
	<hr>
</div>
<div class="row">
	<div class="container">
		<br>
		<%= simple_form_for @snippet , html: { :class => "form-horizontal" } do |f| %>
			<%= f.error_notification %>
			<%= f.input :name %>
			<%= f.input :content, as: :text,:input_html => {class: "snippet_content",id: "snippet_content", 'rows' => 12, 'cols' => 70} %>
			<%= f.input :tags %>
			<% if current_agent.is_admin? %>
				<%= f.input :scope,as: :radio_buttons, collection: [["Make Company Snippet",true],["My Personal snippet",false]] %>
			<% else %>
			<%= f.input :scope,:as => :hidden, input_html: {value: false} %>
			<% end %>
			<div class="col-sm-3 col-sm-offset-2 form_button"><%= f.button :submit, "Update Snippet",class: "btn btn-info" %></div>
		<% end %>
	</div>
</div>
<script type="text/javascript">
	$('#snippet_content').wysihtml5({
    	"html": false,
    	"image": false
    });
</script>