<div class="content">

	<div class="container">

		<div class="portlet">

			<h4 class="portlet-title">
			  <u>Edit Group</u>
			  <%= link_to "Back",:back,class: "pull-right" %>
			</h4>
			<p>To add users to your new group, edit users and select groups that you want them to be a part of.&nbsp; <%= link_to "Learn More »", '' %></p>
			<br>

	        <div class="portlet-body">
	        	<div class="row">
	        		<div class="col-sm-12 col-md-8 col-md-offset-2"><br>
	        			<%= simple_form_for @group , html: { :class => "form-horizontal" }, :wrapper => :normal do |f| %>
							<%= f.error_notification %>
							<%= f.input :name,input_html: {class: "form-control"} %>
							<%= f.input :company_id, as: :hidden, input_html:{ value: current_agent.company.id } %>
							  <div class="col-md-7 col-md-push-3">
							<%= f.button :submit, "Update Group",class: "btn btn-info" %>
								</div> <!-- /.col -->
			                </div>
						<% end %>
	        		</div>
	        	</div>
	        </div> <!-- /.portlet-body -->
	    </div> <!-- /.portlet -->
	</div>
</div>