<div class="row">
	<h1>Tickets</h1>
	<hr>
</div>
<div class="row">
	<% if @tickets %>
	<table class="table table-stripped">
		<%= form_tag('') do %>
			<% @tickets.each do |ticket| %>
			<tr>
				<td><%= 1 %></td>
				<td><%= link_to ticket.customer_name,ticket_path(ticket.id) %></td>
				<td>
					<%= link_to ticket_path(ticket.id) do %>
					<b><%= ticket.subject %></b> - <%= raw ticket.message %>
					<% end %>
				</td>
				<td><%= ticket.agent.first_name if !ticket.agent.blank? %></td>
				<td><%= ticket.created_at.strftime("%b %d") %></td>
			</tr>
			<% end %>
		<% end %>
	</table>
	<% else %>
		<p>No tickets created yet!</p>
	<% end %>
</div>