<div class="col-md-7 col-sm-7 ticket-body">

  <%= render 'layouts/tickets_menubar' %>

  <h3><%= @ticket.subject %></h3>

  <p><i class="icon-li fa fa-envelope"></i>&nbsp;<%= @ticket.customer_email %></p>

  <hr>

  <p class="ticket_status">
    <% ticket_status(@ticket).try(:each) do |status| %>
      <span class="label label-primary"><%= status %></span> 
    <% end %>
  </p>

  <hr>
  <br>

  <p><%= raw @ticket.message %></p>

  <hr>


  <br><br>

  <h4 class="content-title"><u>Ticket Activity</u></h4>

    <div class="share-widget clearfix">

      <ul id="myTab1" class="nav nav-tabs">
        <li class="active">
          <a href="#reply" data-toggle="tab">Reply</a>
        </li>

        <li class="">
          <a href="#comment" data-toggle="tab">Comment</a>
        </li>
      </ul>


      <div id="myTab1Content" class="tab-content">

        <div class="tab-pane fade active in" id="reply">

          <%= simple_form_for @reply ,url: replies_path, html: {method: :post} do |f| %>
            <%= f.error_notification %>
            <%= f.input :content, as: :text, placeholder: "Share what you've been up to...",label: false, input_html: {class: "share-widget-textarea form-control",:rows => 5} %>
            <%= f.input :ticket_id,as: :hidden,input_html: {value: @ticket.id} %>
            <div class="share-widget-actions">
              <div class="share-widget-types pull-left">
                <a href="javascript:;" class="fa fa-picture-o ui-tooltip" title="Post an Image"><i></i></a>
                <a href="javascript:;" class="fa fa-question-circle ui-tooltip" title="Ask a Question"><i></i></a>
              </div>

              <div class="pull-right">
                <%= f.button :submit, "Reply",class: "btn btn-primary btn-sm" %>
              </div>
            </div> <!-- /.share-widget-actions -->
          <% end %>

        </div> <!-- /.tab-pane -->

        <div class="tab-pane fade" id="comment">

          <%= simple_form_for @comment ,url: comments_path, html: {method: :post} do |f| %>
            <%= f.error_notification %>
            <%= f.input :content, as: :text, placeholder: "Share what you've been up to...",label: false, input_html: {class: "share-widget-textarea form-control",:rows => 5} %>
            <%= f.input :ticket_id,as: :hidden,input_html: {value: @ticket.id} %>
          <div class="share-widget-actions">
            <div class="share-widget-types pull-left">
              <a href="javascript:;" class="fa fa-picture-o ui-tooltip" title="Post an Image"><i></i></a>
              <a href="javascript:;" class="fa fa-question-circle ui-tooltip" title="Ask a Question"><i></i></a>
            </div>

            <div class="pull-right">
              <%= f.button :submit, "Comment",class: "btn btn-primary btn-sm" %>
            </div>

          </div> <!-- /.share-widget-actions -->
          <% end %>

        </div> <!-- /.tab-pane -->

      </div> <!-- /.tab-content -->

    </div> <!-- /.share-widget -->

    <br><br>

    <% @replies.try(:each) do |reply| %>
    <div class="feed-item <%= feed_icon(reply) %>">
      <div class="feed-icon">
        <i class="fa fa-user"></i>
      </div> <!-- /.feed-icon -->

      <div class="feed-subject">
        <p>
          <a href="javascript:;"><%= reply.replier_name %></a> posted a <strong>reply</strong>
        </p>
      </div> <!-- /.feed-subject -->

      <div class="feed-content">
        <ul class="icons-list">
          <li>
            <i class="icon-li fa fa-quote-left"></i>
            <%= reply.content %>
          </li>
        </ul>
      </div> <!-- /.feed-content -->

      <div class="feed-actions">
        <p class="pull-right text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(reply.created_at) %></p>
      </div> <!-- /.feed-actions -->

    </div> <!-- /.feed-item -->
    <% end %>

    <br class="visible-xs">            
    <br class="visible-xs">
    
</div> <!-- /.col -->

<%= render 'layouts/ticket_stats_customer_history' %>
    
<% if false %>
<div class="row">
	<div class="container" id="customer-info">
		<%= @ticket.subject %><br><%= @ticket.customer_email %>
	</div>
	<hr>
	<div class="container" id="ticket-state">
		<%= @ticket.ticket_category.name if @ticket.ticket_category %> | <%= @ticket.status %>
	</div>
</div>
<% end %>