  <div class="content">

    <div class="container">

      <h3 class="content-title"><u>Plans & Billing</u></h3>

      <div class="row">

        <div class="col-sm-7 col-md-5">

          <div class="well">
            <h4>You are currently on the <span class="text-primary">Starter</span> plan</h4>
            <p>Your  monthly charge for the <strong>$9.00</strong> is paid on the 11th of each month.</p>

            <br>

            <h5>Card Details</h5>

              <table class="table">
                <tbody>
                  <tr>
                    <th>Card Type</th>
                    <td>Visa</td>
                  </tr>

                  <tr>
                    <th>Card Number</th>
                    <td>************9349 &nbsp;<small>(<a href="javascript:;">change card</a>)</small></td>
                  </tr>

                  <tr>
                    <th>Valid Until</th>
                    <td>07/16</td>
                  </tr>
                </tbody>
              </table>

          </div> <!-- /.well -->

        </div> <!-- /.col -->

        <div class="col-sm-5 col-md-4">

          <div class="portlet portlet-boxed">

            <div class="portlet-body">

              <h4 class="content-title"><u>Account Usage</u></h4>

              <div class="progress-stat">

                <div class="progress-stat-label">
                HDD Space
                </div>

                <div class="progress-stat-value">
                1.7/10 GB
                </div>

                <div class="progress progress-sm">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="17" aria-valuemin="0" aria-valuemax="100" style="width: 17%">
                  <span class="sr-only">17 HDD Space Used</span>
                  </div>
                </div> <!-- /.progress -->

              </div> <!-- /.progress-stat -->

              <div class="progress-stat">

                <div class="progress-stat-label">
                Users
                </div>

                <div class="progress-stat-value">
                5/10
                </div>

                <div class="progress progress-sm">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                  <span class="sr-only">50% Users Used</span>
                  </div>
                </div> <!-- /.progress -->

              </div> <!-- /.progress-stat -->

              <div class="progress-stat">

                <div class="progress-stat-label">
                Projects
                </div>

                <div class="progress-stat-value">
                9/10
                </div>

                <div class="progress progress-sm">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                  <span class="sr-only">90% Projects Used</span>
                  </div>
                </div> <!-- /.progress -->

              </div> <!-- /.progress-stat -->

            </div> <!-- /.portlet-body -->

          </div> <!-- /.portlet -->

        </div> <!-- /.col -->

        <!-- Billing Period forms -->

        <div class="col-sm-6 col-md-3">

          <div class="portlet portlet-boxed">

            <div class="portlet-body">

              <h4 class="content-title"><u>Billing Period</u></h4>
              <p>Current Billing Cycle : <%= @subscription.billing_period %></p>
              <%= simple_form_for :billing, url: subscription_path(@subscription.id), html: { :class => "form account-form",method: :put } do |f| %>
                <%= f.input :billing_period, collection: ["Monthly","Annually"], required: true, autofocus: true,include_blank: false,input_html: {class: "form-control" },label: false, selected: [ @subscription.billing_period] %>
                <div class="form-group">
                  <%= button_tag(type: 'submit', class: "btn btn-primary btn-block ") do %>
                    Update &nbsp; <i class="fa fa-refresh"></i>
                  <% end %>
                </div>
              <% end %>

            </div> <!-- /.portlet-body -->

          </div> <!-- /.portlet -->

        </div> <!-- /.col -->

      </div> <!-- /.row -->

      <br>


      <h3 class="content-title"><u>Available Plans</u></h3>

      <br>

          <div class="row">
          <% @plans.each_with_index do |plan,i| %>
            <% if i==0 %>
            <div class="col-sm-2 col-sm-offset-1">
            <% else %>
            <div class="col-sm-2">
            <% end %>

              <div class="pricing-plan">

                <% if @subscription.plan == plan %>
                <div class="pricing-plan-ribbon-current ui-tooltip" title="Current Plan!">
                  <i class="fa fa-check"></i>
                </div>
                <% elsif plan.name == "Enterprise" %>
                <div class="pricing-plan-ribbon-secondary ui-tooltip" title="Best Value!">
                  <i class="fa fa-star"></i>
                </div>
                <% end %>

                <div class="pricing-header">
                  <h3 class="pricing-plan-title"><%= plan.name %></h3>				    		
                  <!--<p class="pricing-plan-label">For Individuals</p>-->
                </div>

                <div class="pricing-plan-price">
                  <span class="pricing-plan-amount">$<%= plan.price %></span> / month
                </div>

                <ul class="pricing-plan-details">	    			
                  <li><strong><%= plan_limit(plan.emails) %></strong> Emails</li>
                  <li><strong><%= plan_limit(plan.tickets) %></strong> Tickets</li>	   
                  <li><strong><%= plan_limit(plan.agents) %></strong> Agents</li>	
                  <li><strong><%= plan_limit(plan.groups) %></strong> Groups</li>	    	 	    				
                </ul>
                <% if @subscription.plan == plan %>
                <a href="javascript:;" class="btn btn-danger disabled btn-block">Current Plan</a>
                <% else %>
                  <%= simple_form_for :plan, url: subscription_path(@subscription.id), html: {method: :put } do |f| %>
                    <%= f.input :plan_id, required: true, :as => :hidden, input_html: {:value => plan.id} %>
                    <%= f.button :submit, "Upgrade" , class: "btn btn-primary btn-block" %>
                  <% end %>
                <% end %>

              </div> <!-- /.pricing-plan -->

            </div> <!-- /.col -->
          <% end %>
        </div> <!-- /.row -->


      <h4 class="text-center">
      Need More?
      <span>We offer larger plans for companies with even more contacts.</span>
      <a href="javascript:;">Learn More <i class="fa fa-external-link"></i></a>
      </h4>


      <br>
      <br>
      <br>

      <div class="row">
                
            <div class="col-md-12">
              <h3 class="content-title">
                <span>All Plans Come With</span>
              </h3>
            </div> <!-- /.row -->
        
          <div class="col-md-3 col-sm-6">
            <ul class="icons-list">
              <li>
                <i class="icon-li fa fa-check-square"></i> 

                Free Setup
              </li>

              <li>
                <i class="icon-li fa fa-check-square"></i> 

                SSL Protection
              </li>

              <li>
                <i class="icon-li fa fa-check-square"></i> 

                Unlimited Downloads
              </li>

              <li>
                <i class="icon-li fa fa-check-square"></i> 

                Unlimited Pushes
              </li>
            </ul>         
          </div><!-- /.col -->

          <div class="col-md-3 col-sm-6">
            <ul class="icons-list">
              
              <li>
              <i class="icon-li fa fa-check-square"></i> 

                Over the Air Install and Update
              </li>
              
              <li>
              <i class="icon-li fa fa-check-square"></i> 

                Realtime Dashboard
              </li>
              
              <li>
              <i class="icon-li fa fa-check-square"></i> 

                Package History Archive
              </li>
              
              <li>
              <i class="icon-li fa fa-check-square"></i> 

                Easy to Use Interface
              </li>
           </ul>    
          </div><!-- /.col -->

          <div class="col-md-3 col-sm-6">
            <ul class="icons-list">
              
              <li>
              <i class="icon-li fa fa-check-square"></i> 

                Full Featured 
              </li>
              
              <li>
              <i class="icon-li fa fa-check-square"></i> 

                Crash Reporting (with SDK)
              </li>
              
              <li>
              <i class="icon-li fa fa-check-square"></i> 

                Custom Event Logging
              </li>
              
              <li>
              <i class="icon-li fa fa-check-square"></i> 

                Commandline Tools
              </li>
            </ul>     
          </div><!-- /.col -->

          <div class="col-md-3 col-sm-6">
            <ul class="icons-list">
              
              <li>
              <i class="icon-li fa fa-check-square"></i> 

                Over the Air Install and Update
              </li>
              
              <li>
              <i class="icon-li fa fa-check-square"></i> 

                Realtime Dashboard
              </li>
              
              <li>
              <i class="icon-li fa fa-check-square"></i> 

                Package History Archive
              </li>
              
              <li>
              <i class="icon-li fa fa-check-square"></i> 

                Easy to Use Interface
              </li>
            </ul>   
          </div><!-- /.col -->
        
        </div> <!-- /.row -->

        <br><br>

    </div> <!-- /.container -->

  </div> <!-- .content -->

</div> <!-- /#wrapper -->