<div class="account-wrapper">

    <div class="account-body">

      <h3>Subscription</h3>

      <h5>Choose a subscrption and get started!</h5>

		<%= simple_form_for @subscription , html: { :class => "form account-form" } do |f| %>
			<%= f.input :billing_period, collection: ["Monthly","Annually"], required: true, autofocus: true,include_blank: false, input_html: {class: "form-control"}, label: false,include_blank: "Billing Period" %>
			<%= f.input :plan_id, collection: @subscription.plans, required: true, autofocus: true,include_blank: false, input_html: {class: "form-control"}, label: false,include_blank: "Plan" %>
			<%= f.input :company_id, required: true, :as => :hidden, input_html: {:value => current_agent.company.id} %>
			<%= button_tag(type: 'submit', class: "btn btn-primary btn-block btn-lg") do %>
			    Update &nbsp; <i class="fa fa-play-circle"></i>
			<% end %>
		<% end %>
      
    </div> <!-- /.account-body -->
</div>
