<div class="container-fluid">
  <div class="row">
    <div class="container sign_in">
      <h2>Change your password</h2>
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <%= f.input :reset_password_token, as: :hidden %>
        <%= f.full_error :reset_password_token %>
          <%= f.input :password, label: "New password", required: true, autofocus: true %>
          <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
        <div class="col-sm-3 col-sm-offset-1 form_button"><%= f.button :submit, "Change my password",class: "btn btn-info" %></div>
      <% end %>

      <div class="col-sm-5 links"><%= render "devise/shared/links" %></div>
    </div>
  </div>
</div>

