<div class="container-fluid">
	<div class="row">
		<div class="container sign_in">
			<h2><%= t "devise.invitations.new.header" %></h2>

			<%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post,class: "form-horizontal"} do |f| %>
			  <%= devise_error_messages! %>

			<% resource.class.invite_key_fields.each do |field| -%>
			  <%= f.input field %>
			<% end -%>
			<%= f.input :role,collection: [["Admin",true],["Agent",false]],include_blank: false, required: true %>
			<%= f.input :company_id, required: true, :as => :hidden, input_html: {:value => current_agent.company.id} %>

			<div class="col-sm-3 col-sm-offset-1 form_button"><%= f.submit t("devise.invitations.new.submit_button"),class: "btn btn-info" %></div>
			<% end %>
		</div>
	</div>
</div>
