<div class="container-fluid">
	<div class="row">
		<div class="container sign_in">
			<h2>Edit Plan</h2>

			<%= simple_form_for @plan,:html => {:method => :post,class: "form-horizontal"} do |f| %>
			<%= f.input :name %>
			<%= f.input :price,label: "Price per/month" %>
			<%= f.input :emails,label: "No of Emails",input_html: {:"data-toggle"=>"tooltip", :"data-placement"=>"right", :title => "Enter '-1' for unlimited "} %>
			<%= f.input :groups,label: "No of Groups",input_html: {:"data-toggle"=>"tooltip", :"data-placement"=>"right", :title => "Enter '-1' for unlimited "} %>
			<%= f.input :agents,label: "No of Agents",input_html: {:"data-toggle"=>"tooltip", :"data-placement"=>"right", :title => "Enter '-1' for unlimited "} %>
			<%= f.input :tickets,label: "No of Tickets",input_html: {:"data-toggle"=>"tooltip", :"data-placement"=>"right", :title => "Enter '-1' for unlimited "} %>
			<div class="col-sm-3 col-sm-offset-1 form_button"><%= f.button :submit ,"Create Plan" ,class: "btn btn-info" %></div>
			<% end %>
		</div>
	</div>
</div>