<div class="container-full" id="control_panel_header">
	<div class="navbar-main">
		<!-- Fixed navbar -->
		<div class="navbar navbar-default">
		  <div class="row">
		    <div class="navbar-header" style="padding-left:2%;">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		        <span class="fa fa-bars" style="font-size:30px; color:#3498db;"></span>
		      </button>
		      <a class="navbar-brand" href="/"><span style="font-size:20px;"></span>HelpDesk</a>
		    </div>
		    <div class="navbar-collapse collapse">
				<% if false %>
				<ul class="nav navbar-nav">
					<li><a href="#home" class="smoothScroll">Home</a></li>
					<li> <a href="#about" class="smoothScroll"> About</a></li>
					<li> <a href="#features" class="smoothScroll">Features</a></li>
					<li> <a href="#pricing" class="smoothScroll"> Pricing</a></li>
					<li> <a href="#contact" class="smoothScroll">Contact</a></li>
				</ul>
			   <% end %>
			   <ul class="nav navbar-nav pull-right">
			   	<% if agent_signed_in? %>
				   	<li><%= link_to "Tickets",tickets_path, class: "smoothScroll"%></li>
			   		<li class="dropdown">
			   			<%= link_to '#',class: "smoothScroll" ,:"role" => "button", :"data-toggle"=>"dropdown" do %>
				          Account <b class="caret"></b>
				        <% end %>
				        <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
				          <li>
				          	<%= link_to edit_agent_registration_path,:"tabindex" => "-1",:"role" => "menuitem",class: "smoothScroll" do %>
				          	My Profile
				          	<% end %>
				          </li>
				          <li>
				          	<%= link_to edit_notification_path(current_agent),:"tabindex" => "-1",:"role" => "menuitem",class: "smoothScroll" do %>
				          	Notifications
				          	<% end %>
				          </li>
				        </ul>
			   		</li>
			   		<li><%= link_to "Admin",admin_path, class: "smoothScroll"%></li>
			   		<li><%= link_to "Reports",reports_index_path, class: "smoothScroll" if current_agent.allow_reporting %></li>
			   		<li><%= link_to "Help",'', class: "smoothScroll" %></li>
			   		<li><%= link_to "Contact Support",'', class: "smoothScroll" %></li>
			   		<li><%= link_to "Sign Out",destroy_agent_session_path, :method => :delete, class: "smoothScroll" %></li>
			   	<% elsif superadmin_signed_in? %>
			   		<li class="smoothScroll"><%= link_to "Invite Admins",new_superadmin_invitation_path, class: "smoothScroll" %></li>
			   		<li class="smoothScroll"><%= link_to "Create Plan",new_plan_path, class: "smoothScroll" %></li>
			   		<li><%= link_to "Sign Out",destroy_superadmin_session_path, :method => :delete, class: "smoothScroll" %></li>
			   	<% end %>
				</ul>
		    </div><!--/.nav-collapse -->
		  </div>
		</div>
	</div>
</div>
<div class="row">
	<div id="action_header"></div>
</div>