<header class="navbar navbar-inverse" role="banner">

    <div class="container">

      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-cog"></i>
        </button>

        <a href="/" class="navbar-brand navbar-brand-img">
          <%= image_tag('landing/logo.png',alt:"MVP Ready") %>
        </a>
      </div> <!-- /.navbar-header -->


      <nav class="collapse navbar-collapse" role="navigation">

      	<!-- left ul nav start -->
        <ul class="nav navbar-nav noticebar navbar-left">

          <li class="dropdown">
            <a href="./page-notifications.html" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell"></i>
              <span class="navbar-visible-collapsed">&nbsp;Notifications&nbsp;</span>
              <span class="badge badge-primary">3</span>
            </a>

            <ul class="dropdown-menu noticebar-menu noticebar-hoverable" role="menu">
              <li class="nav-header">
                <div class="pull-left">
                  Notifications
                </div>

                <div class="pull-right">
                  <a href="javascript:;">Mark as Read</a>
                </div>
              </li>

              <li>
                <a href="./page-notifications.html" class="noticebar-item">
                  <span class="noticebar-item-image">
                    <i class="fa fa-cloud-upload text-success"></i>
                  </span>
                  <span class="noticebar-item-body">
                    <strong class="noticebar-item-title">Templates Synced</strong>
                    <span class="noticebar-item-text">20 Templates have been synced to the Mashon Demo instance.</span>
                    <span class="noticebar-item-time"><i class="fa fa-clock-o"></i> 12 minutes ago</span>
                  </span>
                </a>
              </li>

              <li>
                <a href="./page-notifications.html" class="noticebar-item">
                  <span class="noticebar-item-image">
                    <i class="fa fa-ban text-danger"></i>
                  </span>
                  <span class="noticebar-item-body">
                    <strong class="noticebar-item-title">Sync Error</strong>
                    <span class="noticebar-item-text">5 Designs have been failed to be synced to the Mashon Demo instance.</span>
                    <span class="noticebar-item-time"><i class="fa fa-clock-o"></i> 20 minutes ago</span>
                  </span>
                </a>
              </li>

              <li class="noticebar-menu-view-all">
                <a href="./page-notifications.html">View All Notifications</a>
              </li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="./page-notifications.html" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope"></i>
              <span class="navbar-visible-collapsed">&nbsp;Messages&nbsp;</span>
            </a>

            <ul class="dropdown-menu noticebar-menu noticebar-hoverable" role="menu">                
              <li class="nav-header">
                <div class="pull-left">
                  Messages
                </div>

                <div class="pull-right">
                  <a href="javascript:;">New Message</a>
                </div>
              </li>

              <li>
                <a href="./page-notifications.html" class="noticebar-item">
                  <span class="noticebar-item-image">
                    <%= image_tag('landing/avatars/avatar-1-md.jpg',:style => "width: 50px") %>
                  </span>

                  <span class="noticebar-item-body">
                    <strong class="noticebar-item-title">New Message</strong>
                    <span class="noticebar-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</span>
                    <span class="noticebar-item-time"><i class="fa fa-clock-o"></i> 20 minutes ago</span>
                  </span>
                </a>
              </li>

              <li>
                <a href="./page-notifications.html" class="noticebar-item">
                  <span class="noticebar-item-image">
                    <%= image_tag('landing/avatars/avatar-2-md.jpg',:style => "width: 50px") %>
                  </span>

                  <span class="noticebar-item-body">
                    <strong class="noticebar-item-title">New Message</strong>
                    <span class="noticebar-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</span>
                    <span class="noticebar-item-time"><i class="fa fa-clock-o"></i> 5 hours ago</span>
                  </span>
                </a>
              </li>

              <li class="noticebar-menu-view-all">
                <a href="./page-notifications.html">View All Messages</a>
              </li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-exclamation-triangle"></i>
              <span class="navbar-visible-collapsed">&nbsp;Alerts&nbsp;</span>
            </a>

            <ul class="dropdown-menu noticebar-menu noticebar-hoverable" role="menu">                
              <li class="nav-header">
                <div class="pull-left">
                  Alerts
                </div>
              </li>

              <li class="noticebar-empty">                  
                <h4 class="noticebar-empty-title">No alerts here.</h4>
                <p class="noticebar-empty-text">Check out what other makers are doing on Explore!</p>                
              </li>
            </ul>
          </li>

        </ul> <!-- Left ul end -->


        <ul class="nav navbar-nav navbar-right">
			<% if agent_signed_in? %>
			   	<li><%= link_to "Tickets",tickets_path%></li>
		   		<li><%= link_to "Admin",admin_path%></li>
		   		<li><%= link_to "Reports",reports_index_path if current_agent.allow_reporting %></li>
		   		<li><%= link_to "Help",'' %></li>
		   		<li><%= link_to "Contact Support",'' %></li>
		   		<li class="dropdown">
		   			<%= link_to 'javascript:;', :"data-toggle"=>"dropdown", class: "dropdown-toggle" do %>
		   				<span class="navbar-profile-avatar" style="border:none;">Account</span>
			   			<i class="fa fa-caret-down"></i>
			       <% end %>
			        <ul class="dropdown-menu" role="menu">
			          <li>
			          	<%= link_to edit_agent_registration_path do %>
			          	<i class="fa fa-user"></i> 
                  		&nbsp;&nbsp; My Profile
			          	<% end %>
			          </li>
			          <li>
			          	<%= link_to edit_notification_path(current_agent) do %>
			          	<i class="fa fa-dollar"></i> 
                  		&nbsp;&nbsp; Notifications
			          	<% end %>
			          </li>
				   	<li>
				   		<%= link_to destroy_agent_session_path, :method => :delete do %>
				   		<i class="fa fa-sign-out"></i> 
                  		&nbsp;&nbsp; Logout
				   		<% end %>
				   	</li>
			        </ul>
		   		</li>
		   	<% elsif superadmin_signed_in? %>
		   		<li><%= link_to "Invite Admins",new_superadmin_invitation_path %></li>
		   		<li><%= link_to "Create Plan",new_plan_path %></li>
		   		<li><%= link_to "Sign Out",destroy_superadmin_session_path, :method => :delete %></li>
		   	<% end %>

        </ul>

      </nav>

    </div> <!-- /.container -->

  </header>