<div class="mainnav">

    <div class="container">

      <a class="mainnav-toggle" data-toggle="collapse" data-target=".mainnav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </a>

      <nav class="collapse mainnav-collapse" role="navigation">

        <div id="reportrange" class="mainnav-form pull-right">
          <i class="fa fa-calendar fa-lg"></i>
          <span><%= "#{(Date.today - 30.days).to_formatted_s(:long)} - #{(Date.today).to_formatted_s(:long)}" %></span><b class="caret"></b>
        </div>

        <% unless action_name == "index" %>
        <div class="mainnav-form pull-right select_cat">
          <%= select_tag action_name, options_for_select(select_options(action_name)),prompt: "Select #{action_name.singularize.capitalize}",class: "selectpicker", :"data-live-search" => true %>
        </div>
        <% end %>


        <ul class="mainnav-menu">
          <li class="active">
            <%= link_to reports_index_path do %>
              <i class="fa fa-dashboard"></i> 
              &nbsp;&nbsp;Overview
            <% end %>
          </li>
          <li>
            <%= link_to reports_agents_path do %>
              <i class="fa fa-user"></i> 
              &nbsp;&nbsp;Agents
            <% end %>
          </li>
          <li>
            <%= link_to reports_groups_path do %>
              <i class="fa fa-users"></i> 
              &nbsp;&nbsp;Groups
            <% end %>
          </li>
          <li>
            <%= link_to reports_labels_path do %>
              <i class="fa fa-tag"></i> 
              &nbsp;&nbsp;Labels
            <% end %>
          </li>
        </ul>

      </nav>

    </div> <!-- /.container -->

</div> <!-- /.mainnav -->
<script type="text/javascript">
  $('#reportrange').daterangepicker(
      {
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
           'Last 7 Days': [moment().subtract('days', 6), moment()],
           'Last 30 Days': [moment().subtract('days', 29), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
        },
        startDate: moment().subtract('days', 29),
        endDate: moment()
      },
      function(start, end) {
          $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
      }
  );

  $('.selectpicker').selectpicker();

</script>