<div class="row">
	<div class="navbar-main">
		<div class="navbar navbar-default">
			<ul class="nav nav-pills">
				<li><%= link_to "New Ticket",new_ticket_path,class: "btn btn-success" %></li>
			  <li><%= link_to "Archive",''%></li>
			  <li><%= link_to "Assign",''%></li>
			  <li><%= link_to "Spam",''%></li>
			  <li><%= link_to "Trash",''%></li>
			</ul>
		</div>
	</div>
</div>