<div class="navbar-main">
	<div class="navbar navbar-default">
		<ul class="nav nav-pills nav-stacked">
			<h2>Tickets</h2>
			<li><%= link_to "Unassigned",'' %></li>
			<li><%= link_to "My",'' %></li>
			<li><%= link_to "Groups",'' %></li>
			<li><%= link_to "All",'' %></li>
			<li><%= link_to "Drafts",'' %></li>
			<li><%= link_to "Archived",'' %></li>
			<li><%= link_to "Spam",'' %></li>
			<li><%= link_to "Trash",'' %></li>
		</ul>
	</div>
</div>